.user-excercises_create-new {
    height: 100%;
    width: 100%;
    user-select: none;
}

.user-excercises_create-new__main {
    height: 100%;
    width: 100%;
    user-select: none;
}

.user-excercises_create-new__main___backtoexcerciseall {
    margin: 40px 0 0 40px;
    border: none;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px tomato;
    transition: box-shadow 0.3s;
}

.user-excercises_create-new__main___backtoexcerciseall:hover {
    color: red;
    box-shadow: 0 3px rgb(0, 255, 64);
}

.user-excercises_create-new__main___excercise {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.user-excercises_create-new__main___excercise____form {
    background-color: rgb(255, 255, 255);
    margin: 8px 0 0 120px;
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-excercises_create-new__main___excercise____form input {
    width: 100%;
}

.user-excercises_create-new__main___excercise____form div:first-child {
    width: 72%;
}

.user-excercises_create-new__main___excercise____form div:last-child button {
    border-style: groove;
    border-radius: 4px;
    height: 32px;
    cursor: pointer;
}

.user-excercises_create-new__main___excercise____form div:last-child button:focus {
    background-color: rgb(196, 196, 196);
}

.user-excercises_create-new__main___excercise____form p {
    font-weight: bold;
    text-align: left;
}

.user-excercises_create-new__main___excercise____form input {
    border: none;
    border-bottom: groove;
    border-color: rgb(226, 226, 226);
}

.user-excercises_create-new__main___excercise____form input:focus {
    outline: none;
    border-color: green
}

.user-excercises_create-new__main___excercise____form select {
    width: 40%;
    border: none;
    border-bottom: groove;
}

.user-excercises_create-new__main___excercise____form option {
    border-color: rgb(226, 226, 226);
}

.user-excercises_create-new__main___excercise____form select:focus {
    outline: none;
    border-color: green
}

.user-excercises_create__excercise___response-create-excercise {
    height: 0px;
    width: 100%;
    margin: 0px 0 40px 0;
    color: green;
    font-weight: bold;
}

.user-excercises_create__excercise___form____create-button input {
    border: solid 1px black;
    cursor: pointer;
    height: 32px;
    width: 160px;
    margin: 16px 0 0 200px;
    font-weight: bold;
}

.user-excercises_create__excercise___form____create-button input:hover {
    color: rgb(255, 2, 2);
}

.user-excercises_create__excercise___form____create-button input:focus {
    color: rgb(91, 2, 255);
}

.user-excercises_create__excercise___excercise-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-excercises_create__excercise___excercise-logo div:first-child {
    border: groove;
    margin: 20px 0 0 0;
    float: left;
}

.user-excercises_create__excercise___excercise-logo div:first-child img {
    height: 180px;
    width: 180px;
}

.user-excercises_create__excercise___excercise-logo div:last-child p {
    font-weight: bold;
    margin: 12px 0 0 -16px;
}

.user-excercises_create__excercise___form____radio-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-excercises_create__excercise___form____radio-button div {
    flex: 1
}

.user-excercises_create__excercise___form____radio-button input {
    height: 20px;
    cursor: pointer;
}

.user-excercises_create__excercise___form____radio-button span {
    margin: 0 0 0 -100px;
}

.user-excercises_create-new__QandA {
    width: 100%;
}

.user-excercises_create-new__QandA___backtoexcerciseall {
    margin: 16px 0 0 40px;
    border: none;
    width: 100px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px tomato;
    transition: box-shadow 0.3s;
}

.user-excercises_create-new__QandA___backtoexcerciseall:hover {
    color: red;
    box-shadow: 0 3px rgb(0, 255, 64);
}

.user-excercises_create-new__QandA___infor {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.user-excercises_create-new__QandA___infor div:nth-child(2) {
    width: 48%;
}

.user-excercises_create-new__QandA___infor img {
    width: 40px;
    height: 40px;
    border: groove;
}

.user-excercises_create-new__QandA___infor div {
    margin: 16px 0 0 40px;
}

.user-excercises_create-new__QandA___content {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    font-size: 14px;
}

.user-excercises_create-new__QandA___content___question {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: flex-start;
    margin: 16px 0 0 80px;
    width: 90%;
    /* border: groove; */
}

.user-excercises_create-new__QandA___content___question textarea {
    width: 72%;
    margin: 0 0 0 16px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    height: 56px;
}

.user-excercises_create-new__QandA___content___question input:hover {
    border-bottom-color: blue;
}

.user-excercises_create-new__QandA___content___question input:focus {
    border-bottom-color: green;
}

.user-excercises_create-new__QandA___content____answer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    margin: 0 0 0 40px;
    width: 94%;
    /* border: groove; */
}

.user-excercises_create-new__QandA___content____answer_____A {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    margin: 20px 0 0 40px;
    /* border: groove; */
    width: 94%;
}

.user-excercises_create-new__QandA___content____answer_____A______choose input {
    cursor: pointer;
}

.user-excercises_create-new__QandA___content____answer_____A______answer-content {
    width: 80%;
    text-align: left;
}

.user-excercises_create-new__QandA___content____answer_____A______answer-content textarea {
    margin: 0 0 0 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 28px;
    width: 85%;
}

.user-excercises_create-new__QandA___content____answer_____A______answer-content textarea:hover {
    border-bottom-color: blue;
}

.user-excercises_create-new__QandA___content____answer_____A______answer-content textarea:focus {
    border-bottom-color: green;
}

.user-excercises_create-new__QandA___content____answer_____B {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    margin: 20px 0 0 40px;
    /* border: groove; */
    width: 94%;
}

.user-excercises_create-new__QandA___content____answer_____B______choose input {
    cursor: pointer;
}

.user-excercises_create-new__QandA___content____answer_____B______answer-content {
    width: 80%;
    text-align: left;
}

.user-excercises_create-new__QandA___content____answer_____B______answer-content textarea {
    margin: 0 0 0 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 28px;
    width: 85%;
}

.user-excercises_create-new__QandA___content____answer_____B______answer-content textarea:hover {
    border-bottom-color: blue;
}

.user-excercises_create-new__QandA___content____answer_____B______answer-content textarea:focus {
    border-bottom-color: green;
}

.user-excercises_create-new__QandA___content____answer_____C {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    margin: 20px 0 0 40px;
    /* border: groove; */
    width: 94%;
}

.user-excercises_create-new__QandA___content____answer_____C______choose input {
    cursor: pointer;
}

.user-excercises_create-new__QandA___content____answer_____C______answer-content {
    width: 80%;
    text-align: left;
}

.user-excercises_create-new__QandA___content____answer_____C______answer-content textarea {
    margin: 0 0 0 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 28px;
    width: 85%;
}

.user-excercises_create-new__QandA___content____answer_____C______answer-content textarea:hover {
    border-bottom-color: blue;
}

.user-excercises_create-new__QandA___content____answer_____C______answer-content textarea:focus {
    border-bottom-color: green;
}

.user-excercises_create-new__QandA___content____answer_____D {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-end;
    margin: 20px 0 0 40px;
    /* border: groove; */
    width: 94%;
}

.user-excercises_create-new__QandA___content____answer_____D______choose input {
    cursor: pointer;
}

.user-excercises_create-new__QandA___content____answer_____D______answer-content {
    width: 80%;
    text-align: left;
}

.user-excercises_create-new__QandA___content____answer_____D______answer-content textarea {
    margin: 0 0 0 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 28px;
    width: 85%;
}

.user-excercises_create-new__QandA___content____answer_____D______answer-content textarea:hover {
    border-bottom-color: blue;
}

.user-excercises_create-new__QandA___content____answer_____D______answer-content textarea:focus {
    border-bottom-color: green;
}

.user-excercises_create-new__QandA___control {
    margin: 40px 0 0 196px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-excercises_create-new__QandA___control i {
    font-weight: bold;
    color: blue;
    cursor: pointer;
    margin: 0 32px 0 32px;
    user-select: none;
}

.user-excercises_create-new__QandA___control input {
    height: 32px;
    width: 120px;
    margin: 0 0 0 84px;
    font-weight: bold;
    cursor: pointer;
}

.user-excercises_create-new__QandA___content___confirm-content {
    margin: 24px 0 0 0;
}

.user-excercises_create-new__QandA___content___confirm-content button {
    height: 28px;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}